@using ContentModels = Umbraco.Web.PublishedContentModels;

<header class="site-header">
    <div class="container">
        @if (Model.Content.Parent.ContentType.Alias != "eventItems" || Model.Content.Parent.ContentType.Alias != "newsItems") 
        {
            <div class="flex-row">
                <div class="back">
                    <a href="/"><img src="/assets/icons/nav/angle-left.svg" alt="Back" /></a>
                </div>
                <h1>@Model.Content.Parent.Name</h1>
            </div>
        }
        else
        {
            <h1>@Model.Content.Title</h1>
        }

    </div>
</header>