@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    string exploreLink = Request.Url.ToString();
    if (Request.Url.AbsolutePath != "/")
    {
        exploreLink = "/";
    }
    else
    {
        exploreLink = "/live-map";
    }
}

<nav class="site-nav">
    <div class="container">
        <a href="@exploreLink" class="nav-item">
            <img src="~/assets/icons/nav/explore.svg" alt="compass" class="nav-icon">
            Explore
        </a>
        <a href="~/today/?date=@DateTime.Now.ToString("dd-MM-yy")" class="nav-item">
            <img src="~/assets/icons/nav/today.svg" alt="calender" class="nav-icon">
            Today
        </a>
        <a href="~/tickets" class="nav-item">
            <img src="~/assets/icons/nav/tickets.svg" alt="ticket" class="nav-icon">
            Tickets
        </a>
    </div>
</nav>