.site-nav {
    background: $mainGreen;
    height: $barsHeight;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 7000;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 80px;

        .nav-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: white;
            text-decoration: none;
        }
        
        .nav-icon {
            height: 38px;
            display: block;
            padding: 0 0 10px;
        }
    }
}