// COLOURS

$mainGreen: #53632E;
$sand: #BDBBA4;
$accent: #E7873C;
$blue: #7DA7D6;
$fontColor: #707070;
$borderColor: #D3D3D3;

// FONTS

$h1Font: 'Changa One';
$h2Font: 'Changa';
$bodyFont: Verdana;

// LAYOUT

$barsHeight: 80px;