@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
    @using ContentModels = Umbraco.Web.PublishedContentModels;
    @{
    Layout = "MasterTemplate.cshtml";
    }

<body class="landing-body">

    <div id="map" class="map"></div>
    <main class="landing-page-main">
        <div class="weather-gradient"></div>
        <div class="container">
            <section id="weather">
                <div class="hourly-weather">
                    <img class="weather-icon" src="assets/icons/weather/cloud-sun.svg">
                    <p class="weather-temperature">17&deg</p>
                    <p class="weather-hour">11:00</p>
                </div>
                <div class="hourly-weather">
                    <img class="weather-icon" src="assets/icons/weather/sun.svg">
                    <p class="weather-temperature">18&deg</p>
                    <p class="weather-hour">12:00</p>
                </div>
                <div class="hourly-weather">
                    <img class="weather-icon" src="assets/icons/weather/cloud.svg">
                    <p class="weather-temperature">20&deg</p>
                    <p class="weather-hour">13:00</p>
                </div>
                <div class="hourly-weather">
                    <img class="weather-icon" src="assets/icons/weather/wind.svg">
                    <p class="weather-temperature">21&deg</p>
                    <p class="weather-hour">14:00</p>
                </div>
            </section>
            <div class="blank-space"></div>
            <section id="landingpage-nodes">
                <a href="#" class="node-link">
                    <article class="landing-node">
                        <div class="node-text">
                            <div class="node-header">
                                <h2>Wolf feeding</h2>
                                <i>12:30 | in 2 hours</i>
                            </div>
                            <p>Lorem ipsum dolor sit amet, amet ante at nibh sed sed, molestie vehicula.</p>
                        </div>
                        <img class="node-image" src="assets/img/wolves-small.png">
                    </article>
                </a>
                <a href="/event.html" class="node-link">
                    <article class="landing-node">
                        <div class="node-text">
                            <div class="node-header">
                                <h2>Halloween event</h2>
                                <i>All day</i>
                            </div>
                            <p>Lorem ipsum dolor sit amet, amet ante at nibh sed sed, molestie vehicula.</p>
                        </div>
                        <img class="node-image" src="assets/img/frog-small.png">
                    </article>
                </a>
                <a href="#" class="node-link">
                    <article class="landing-node">
                        <div class="node-text">
                            <div class="node-header">
                                <h2>Lion feeding</h2>
                                <i>14:20 | in 4 hours</i>
                            </div>
                            <p>Lorem ipsum dolor sit amet, amet ante at nibh sed sed, molestie vehicula.</p>
                        </div>
                        <img class="node-image" src="assets/img/lion-small.png">
                    </article>
                </a>
                <a href="/news.html" class="node-link">
                    <article class="landing-node">
                        <div class="node-text">
                            <div class="node-header">
                                <h2>New in 2019: Spectacled Bears</h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet, amet ante at nibh sed sed, molestie vehicula.</p>
                        </div>
                        <img class="node-image" src="assets/img/spectaclebear-small.png">
                    </article>
                </a>
            </section>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="" ~/assets/js/jquery.mobile.custom/jquery.mobile.custom.min.js"></script>
    <script src="" ~/assets/js/LandingPage.js"></script>
    <script src="" ~/assets/js/app.js"></script>
    <script type="text/javascript">
        // Defining the map and standard location (Latitude / Longitude) and zoom level
        // var map = L.map('map').setView([55.81139, 9.35229], 16);

        var map = L.map('map', {
            center: [55.81139, 9.35229],
            zoom: 16,
            zoomControl: false,
        });

        // Defining the tile layer (in this case we use OpenStreetMaps' standard layer)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
            maxZoom: 19,
            minZoom: 15,
        }).addTo(map);

        // Click on map
        map.on('click', function() {
            window.location.replace('/map.html');
        });

        // movestart
        map.on('movestart', function() {
            window.location.replace('/map.html');
        });

        // zoomstart
        map.on('zoomstart', function() {
            window.location.replace('/map.html');
        });

    </script>
</body>