@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterTemplate.cshtml";
}

<main>
    <div>
        <img src="@Model.Content.Image.Url" alt="spectacle bear" class="event-news-image">
    </div>
    <div class="event-container">
        <h2>@Model.Content.Title</h2>
        <i>@Model.Content.PublishDate</i>
        <p>@Model.Content.NewsText</p>
    </div>
</main>

