@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Tickets>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "MasterTemplate.cshtml";
    var ticketLinks = Model.Content.Descendants<TicketLink>();
}

@Html.Partial("Header")

<main class="tickets-background" style="background-image: url('@Model.Content.BackgroundImage.Url')">
    <div class="container">
        @foreach (var links in ticketLinks)
        {
            <a href="@links.LinkUrl" class="btn tickets-btn">@links.LinkTitle</a>
        }
    </div>
</main>