@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Today>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "MasterTemplate.cshtml";
}

<body>
    <header class="site-header">
        <div class="container">
            <h1>Today</h1>
        </div>
    </header>

    <main>
        <div class="container">
            <section class="opening-hours">
                <h2 class="center">Opening hours</h2>
                <div class="flex-row center">
                    <div class="day weekday">
                        <div class="hours">10-17</div>
                        <div class="date">Oct 15</div>
                    </div>
                    <div class="day weekday">
                        <div class="hours">10-17</div>
                        <div class="date">Oct 16</div>
                    </div>
                    <div class="day weekday">
                        <div class="hours">10-17</div>
                        <div class="date">Oct 17</div>
                    </div>
                    <div class="day weekday active-day">
                        <div class="hours">10-17</div>
                        <div class="date">Oct 18</div>
                    </div>
                    <div class="day weekday">
                        <div class="hours">10-17</div>
                        <div class="date">Oct 19</div>
                    </div>
                </div>
                <div class="flex-row center">
                    <div class="day weekend">
                        <div class="hours">10-17</div>
                        <div class="date">Oct 20</div>
                    </div>
                    <div class="day weekend">
                        <div class="hours">10-17</div>
                        <div class="date">Oct 21</div>
                    </div>
                </div>
            </section>
            <section class="events">
                <a href="#" class="node-link">
                    <article class="landing-node">
                        <div class="node-text">
                            <div class="node-header">
                                <h2>Halloween event</h2>
                                <i>All day</i>
                            </div>
                            <p>Lorem ipsum dolor sit amet, amet ante at nibh sed sed, molestie vehicula.</p>
                        </div>
                        <img class="node-image" src="assets/img/frog-small.png">
                    </article>
                </a>
            </section>
            <section class="feedings">
                <h2 class="center">Feeding times</h2>
                <ul class="time-table">
                    <li><b>11:30</b> Lorem Ipsum</li>
                    <li><b>11:30</b> Lorem Ipsum</li>
                    <li><b>11:30</b> Lorem Ipsum</li>
                    <li><b>11:30</b> Lorem Ipsum</li>
                    <li><b>11:30</b> Lorem Ipsum</li>
                </ul>
            </section>
            <section class="activities">
                <h2 class="center">Activities</h2>
                <ul class="time-table">
                    <li><b>11:30</b> Lorem Ipsum</li>
                    <li><b>11:30</b> Lorem Ipsum</li>
                    <li><b>11:30</b> Lorem Ipsum</li>
                    <li><b>11:30</b> Lorem Ipsum</li>
                    <li><b>11:30</b> Lorem Ipsum</li>
                </ul>
            </section>
        </div>
    </main>

    @Html.Partial("Navigation")
</body>

</html>