@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    string filePath = AppDomain.CurrentDomain.BaseDirectory + "weatherData.json";
    WeatherApi.GetData.GetWeatherForecast(filePath);
}
<script>
    document.getElementById('weather').innerHTML = ' <div class="hourly-weather"> <img class="weather-icon" src="assets/icons/weather/cloud-sun.svg"> <p class="weather-temperature">17&deg</p> <p class="weather-hour">11:00</p> </div> <div class="hourly-weather"> <img class="weather-icon" src="assets/icons/weather/sun.svg"> <p class="weather-temperature">18&deg</p> <p class="weather-hour">12:00</p> </div> <div class="hourly-weather"> <img class="weather-icon" src="assets/icons/weather/cloud.svg"> <p class="weather-temperature">20&deg</p> <p class="weather-hour">13:00</p> </div> <div class="hourly-weather"> <img class="weather-icon" src="assets/icons/weather/wind.svg"> <p class="weather-temperature">21&deg</p> <p class="weather-hour">14:00</p> </div>';
</script>